body {
    font-family: "roboto", sans-serif;
}

.hero {
    height: 600px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px
}

.maintext {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.htwo,
.links {
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.hbody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;
    gap: 20px;
    padding-left: 300px;
    padding-right: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;

}

.links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.hbodyleft {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}

.hbodyright {
    display: flex;
}

.inscripcion {
    width: 150px;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    height: 30px;
    font-weight: 950;
    font-size: 15px;
}

.imagesection {
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #3a3b3c;
    font-weight: bold;
    padding: 60px;
    justify-content: center;
    gap: 60px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.icon {
    width: 200px;
    height: auto;
}

.juega {
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
    padding: 30px;
}

.texticon {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    border: solid;
    border-width: 10px;
    border-color: #3882f6;
    border-radius: 5px;
    padding: 5px;
}

#john {
    align-self: flex-end;
    justify-content: flex-end;
}

.quote {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #e5e7eb;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: none;
    margin: 0%;
}

.pele {
    align-self: end;
    padding-right: 450px;
    font-weight: bold;
    margin-top: 20px;
}

.finale {
    display: flex;
    justify-content: center;
    color: #f9faf8;
    background-color: white;
    height: 500px;
}

.blue {
    display: flex;
    border-radius: 30px;
    width: 1000px;
    margin: 100px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #3882f6
}

.textfinale {
    display: flex;
    flex-direction: column;
    width: 600px;
}

#creatu {
    font-weight: bold;
    font-size: 36px;
}

#daleclick {
    color: #e5e7eb;
}

#signup {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-weight: 950;
    font-size: 15px;
    border: solid;
    border-color: white;
    background-color: #3882f6;
    color: white
}